{% extends 'shared/site.html' %}
{% load django_tables2 %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block site_content %}
    <div class="text-center">
        <h1>Hello, {{ profile_user.username }}!</h1>
        <h5>This is your profile</h5>
        {% if profile and profile.profile_picture %}
            <img class="rounded-circle mb-3" src="{{ profile.profile_picture.url }}" alt="{{ profile_user.username }}"
                 width="140"
                 height="140">
        {% else %}
            <img class="rounded-circle mb-3" src="https://afribary.com/authors/anonymous-user/photo"
                 alt="Generic placeholder image" width="140"
                 height="140">
        {% endif %}
        <div>

            <form action="{% url 'current user profile' %}" method="post" enctype="multipart/form-data">
                <div class="form-group">{{ form }}</div>
                {% csrf_token %}
                <input type="submit" value="Upload">
            </form>
        </div>
    </div>
    <h4>Actions available to you:</h4>
    <div>
        {% if request.user.is_staff %}
        <div class="form-group"><a class="create" href="{% url 'create city' %}">Create city</a></div>
        <div class="form-group"><a class="create" href="{% url 'create establishment' %}">Create establishment</a></div>
        {% endif %}
        <div class="form-group"><a class="create" href="{% url 'create place' %}">Create place</a></div>
    </div>
    <h5>You can also edit establishments and cities in their corresponding details pages.</h5>
    {% render_table table %}
{% endblock %}
