{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/views.css">
{% endblock %}

{% block site_content %}
    <h1>Cities Overview</h1>
    {% if request.user.is_staff %}
    <h4><a class="create" href="{% url 'create city' %}">Create city</a></h4>
    {% endif %}
    <h4>These are the cities with currently allocated places:</h4>
    <section class="establishments">
        {% for city in green_cities %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'city details' city.id %}"><i class="fas fa-city vacant"></i></a>
                </div>
                <div class="card-title">
                    {{ city }}
                </div>
            </div>
        {% endfor %}
        {% for city in red_cities %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'city details' city.id %}"><i class="fas fa-city not-vacant"></i></a>
                </div>
                <div class="card-title">
                    {{ city }}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}