{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block site_content %}
    <h1>Create a City</h1>
    <form method="POST" action="{% url 'create city' %}">
        <div class="form-group err">{{ form.errors }}</div>
        <div class="form-group">
            <div>Name:</div>
            <div>{{ form.name }}</div>
        </div>
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>
{% endblock %}