.card {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 20px;
}

.card-icon {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
.card-text {
    width: 100%;
    text-align: center;
}

/* hospital icon color */
.fa.vacant, .fas.vacant {
    color: green;
}

.fa.not-vacant, .fas.not-vacant {
    color: red;
}

/* title */
h1 {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
