.card {
    width: 20%;
    border-color: black;
    text-align: center;
    display: inline-block;
    margin: 5px;
}

.card-icon {
    margin-top: 5px;
}

/* hospital icon color */
.fas.vacant {
    color: green;
}

.fas.not-vacant {
    color: red;
}

/* title */
h1 {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
