@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://use.fontawesome.com/releases/v5.10.2/css/all.css");

/*body*/
body {
    background: rgb(255, 255, 255);
    color: rgb(62, 68, 71);
}

/*navigation*/
.nav {
    background: rgb(219, 1, 33);
    color: white;
    height: 40px;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.nav ul {
    margin: 0 5px 0 5px;
    padding: 0;
    display: inline-block;
}

.fa, .fas {
    float: snap;
    font-size: 20px;
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
    display: inline-block;
}

.nav li {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;

}

.nav a {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
}

.nav a:hover, .fa, .fas:hover {
    color: rgb(62, 68, 71);
}
