a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.vacant {
    color: green;
}

.occupied {
    color: red;
}

.on_hold {
    color: orange;
}

.unknown {
    color: grey;
}


