/*cads*/
.card {
    width: 18%;
    border-color: black;
    text-align: center;
    display: inline-block;
    margin: 5px auto;
}

.card-icon {
    margin-top: 5px;
}

/* hospital icon color */
.vacant {
    color: green;
}

.not-vacant,
.occupied {
    color: red;
}

.on_hold {
    color: orange;
}

.unknown {
    color: grey;
}

.create {
    display: block;
    margin: 10px auto;
    width: 100%;

    border: solid 1px red;
    border-radius: 5px;
    background-color: white;
    color: red;
}

.create:hover {
    background-color: red;
    color: white;
}

.view-group {
    margin: auto;
    width: 40%;
}
