{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}

{% block site_content %}
    <h1>Create an Establishment</h1>
    <form method="POST" action="{% url 'create establishment' %}">
        <div class="form-group err">{{ form.errors }}</div>
        <div class="form-group">
            <div>Name:</div>
            <div>{{ form.name }}</div>
        </div>
        <div class="form-group">
            <div> City:</div>
            <div>{{ form.city }}</div>
        </div>
        <div class="form-group">
            <div>Address:</div>
            <div>{{ form.address }}</div>
        </div>
        <div class="form-group">
            <div>Phone:</div>
            <div>{{ form.phone }}</div>
        </div>
        <div class="form-group">
            <div>E-mail:</div>
            <div>{{ form.email }}</div>
        </div>
        <div class="form-group">
            <div>User:</div>
            <div>{{ form.user }}</div>
        </div>
        {% csrf_token %}
        <input type="submit" value="Create">
    </form>
{% endblock %}