{% extends 'shared/site.html' %}
{% load django_tables2 %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/views.css">
{% endblock %}

{% block site_content %}
    <h1>{{ establishment }} Details</h1>
    {% if user.is_authenticated and user == establishment.user %}
    <h4><a class="create" href="{% url 'create place' %}" >Create place</a></h4>
    <h4><a class="create" href="{% url 'edit establishment' establishment.pk %}">Edit establishment</a></h4>
    {% endif %}
    <h4>Places list:</h4>
    {% render_table table %}
    <h4>Contacts:</h4>
    <div>
        Address: {{ establishment.address }}
    </div>
    <div>
        Phone: {{ establishment.phone }}
    </div>
    <div>
        E-mail: <a href="mailto:#">{{ establishment.email }}</a>
    </div>

{% endblock %}