{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/views.css">
{% endblock %}

{% block site_content %}
    <h1>Establishments Overview</h1>
    {% if request.user.is_staff %}
    <h4><a class="create" href="{% url 'create establishment' %}">Create Establishment</a></h4>
    {% endif %}
    <h4>These are the establishments with currently allocated places:</h4>
    <section class="card-container">
        {% for place in places %}
            {{ place.floor }}
        {% endfor %}
        {% for establishment in green_establishments %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'establishment details' establishment.id %}"><i
                            class="fas fa-hospital-alt vacant"></i></a>
                </div>
                <div class="card-title">
                    {{ establishment }}
                </div>
                <div class="card-subtitle">
                    {{ establishment.city }}
                </div>
            </div>
        {% endfor %}
        {% for establishment in red_establishments %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'establishment details' establishment.id %}"><i
                            class="fas fa-hospital-alt not-vacant"></i></a>
                </div>
                <div class="card-title">
                    {{ establishment }}
                </div>
                <div class="card-subtitle">
                    {{ establishment.city }}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}