{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/establishments_cities.css">
{% endblock %}

{% block site_content %}
    <h1>Cities Overview</h1>
    <section class="establishments">
        {% for city in green_cities %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'city details' city.id %}"><i class="fas fa-city vacant"></i></a>
                </div>
                <div class="card-text">
                    {{ city }}
                </div>
            </div>
        {% endfor %}
        {% for city in red_cities %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'city details' city.id %}"><i class="fas fa-city not-vacant"></i></a>
                </div>
                <div class="card-text">
                    {{ city }}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}