{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/cities.css">
{% endblock %}

{% block site_content %}
    <h1>{{ city }} Details</h1>
    <section class="establishments">
        {% for establishment in city_establishments %}
            <div class="card">
                <div class="card-icon">
                    <a href=""></a>
                    <i class="fas fa-hospital-alt vacant"></i>
                </div>
                <div class="card-text">
                    {{ establishment }}
                </div>
            </div>
        {% endfor %}
        {% for city in red_cities %}
            <div class="card">
                <div class="card-icon">
                    <i class="fas fa-city not-vacant"></i>
                </div>
                <div class="card-text">
                    {{ city }}
                </div>
            </div>
        {% endfor %}
{#        {% for place in places %}#}
{#            {% if place.status == 'vacant' %}#}
{#                <div class="card">#}
{#                    <div class="card-icon">#}
{#                        <i class="fas fa-hospital-alt vacant"></i>#}
{#                    </div>#}
{#                    <div class="card-text">#}
{#                        {{ place.establishment }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </section>
{% endblock %}