{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/establishments_cities.css">
{% endblock %}

{% block site_content %}
    <h1>{{ city }} Details</h1>
    <h4>These are the current facilities with allocated spaces in {{ city }}:</h4>
    <section>
        {% for establishment in city_green_establishments %}
            <div class="card">
                <div class="card-icon">
                    <a href=""></a>
                    <a href="{% url 'establishment details' establishment.id %}"><i class="fas fa-hospital-alt vacant"></i></a>
                </div>
                <div class="card-text">
                    {{ establishment }}
                </div>
            </div>
        {% endfor %}
        {% for establishment in city_red_establishments %}
            <div class="card">
                <div class="card-icon">
                    <a href="{% url 'establishment details' establishment.id %}"><i class="fas fa-hospital-alt not-vacant"></i></a>
                </div>
                <div class="card-text">
                    {{ establishment }}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}