{% extends 'shared/site.html' %}
{% load django_tables2 %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/establishments_cities.css">
{% endblock %}

{% block site_content %}
    <h1>{{ establishment }} Details</h1>
    <h4>Places list:</h4>
    {% render_table table %}
    <h4>Contacts:</h4>
    <div>
        Address: {{ establishment.address }}
    </div>
    <div>
        Phone: {{ establishment.phone }}
    </div>
    <div>
        E-mail: {{ establishment.email }}
    </div>

{% endblock %}