{% extends 'shared/site.html' %}
{% block head_content %}
    <link rel="stylesheet" href="/static/css/overview.css">
{% endblock %}

{% block site_content %}
    <h1>Free Places</h1>
    <section class="establishments">
        {% for place in places %}
            {% if place.status == 'vacant' %}
                <div>
                    <div>
                        <i class="fas fa-hospital-alt vacant"></i>
                    </div>
                    <div>
                        {{ place.establishment }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}