<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Places</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    {% block head_content %}
    {% endblock %}
</head>
<body>
<nav class="nav">
    <div>
        <ul>
            <li>
                <a class="nav-link" href="{% url 'index' %}"><i class="fas">&#xf47e</i>ome</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'establishments' %}">Establishments</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'cities' %}">Cities</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'places' %}">Places</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'create establishment' %}">Create Establishment</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'create city' %}">Create City</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'create place' %}">Create Place</a>
            </li>
        </ul>
        <ul>
            {#            {% if user.is_authenticated %}#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link" href="{% url 'user profile' user.id %}">{{ user.username }}</a>#}
            {#                </li>#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link" href="{% url 'signout user' %}">Sign out</a>#}
            {#                </li>#}
            {#            {% else %}#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link" href="{% url 'login' %}">Sing in</a>#}
            {#                </li>#}
            {#                <li class="nav-item">#}
            {#                    <a class="nav-link" href="{% url 'signup user' %}">Sign Up</a>#}
            {#                </li>#}
            {#            {% endif %}#}
        </ul>
    </div>
</nav>
<div class="container">
    {% block site_content %}
    {% endblock %}
</div>
</body>
</html>